/*Drag and Drop*/

editablelabel{
  color: @view_fg_color;
}

.dnd-list-item {
  background-color: rgba(255,255,255,0.1);
  padding: 8px;
  border-radius: 5px;
}

.on-drop-hover {
  padding: 8px;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.1);  
}

.on-drop-top-hover {
  box-shadow: inset 0 3px 0 0 @blue_5;
}

.on-drop-bottom-hover {
  box-shadow: inset 0 -3px 0 0 @blue_5;
}

.on-drop-center-hover {
  box-shadow: inset 2px 2px 1px @blue_5, inset -2px -2px 1px @blue_5;
}


/*Noten Edge Color Selector*/

.button-red{  
  color: @red_5;
}

.button-green{ 
  color: @green_5;
}

.button-yellow{
  color: @yellow_5;   
}

.button-blue{
  color: @blue_5;   
}

.edge-red{
  background: @red_5; 
  color: @red_5;
}

.edge-green{
  background: @green_5;  
  color: @green_5;
}

.edge-yellow{
  background: @yellow_5;
  color: @yellow_5;   
}

.edge-blue{
  background: @blue_5;
  color: @blue_5;   
}

checkbutton.edge-selector{
 border-radius: 9999px;
}
  
checkbutton.edge-selector radio:checked {
  -gtk-icon-source: -gtk-icontheme("object-select-symbolic");
  background-color: transparent;
  color: white;
}


/*Theme Selector*/

themeselector {
  margin: 9px;
}

checkbutton.theme-selector {
  padding: 0;
  min-height: 44px;
  min-width: 44px;
  padding: 1px;
  background-clip: content-box;
  border-radius: 9999px;
  box-shadow: inset 0 0 0 1px @borders;
}

checkbutton.follow:checked,
checkbutton.light:checked,
checkbutton.dark:checked {
  box-shadow: inset 0 0 0 2px @theme_selected_bg_color;
}

checkbutton.follow {
  background-image: linear-gradient(
    to bottom right,
    #fff 49.99%,
    #202020 50.01%
  );
}

checkbutton.light {
  background-color: #fff;
}

checkbutton.dark {
  background-color: #202020;
}

checkbutton.theme-selector radio {
  -gtk-icon-source: none;
  border: none;
  background: none;
  box-shadow: none;
  min-width: 12px;
  min-height: 12px;
  transform: translate(27px, 14px);
  padding: 2px;
}

checkbutton.theme-selector radio:checked {
  -gtk-icon-source: -gtk-icontheme("object-select-symbolic");
  background-color: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
}




  
